
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 1fr 5fr ;
}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;

}

.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    padding: 10px;
    list-style: none;
    gap: 10px;
}

.exerciseHeaderNav ul li {


}


/* Main */

.exerciseMain {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;

}

.exerciseMainLeftNav {
    display: grid;
    grid-template-columns: 3fr;
    gap: 10px;
    margin-right: 10px;


}

.exerciseMainContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-end: span 4;
    gap: 10px;

}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {
    display: grid;
    grid-column-end: span 4;
}

.exerciseMainContentSubBanner {
    display: grid;
    grid-column-end: span 3;


}

.exerciseMainContentBlock {

}