.destinationMapAndNav {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 20px 20px;
    margin: 20px 20px 20px 20px;
}

.destinationMapImage {
    align-items: center;
    display: flex;
    background: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 95%;
    height: 600px;
    justify-content: center;
    border: 1px solid gray;
    margin: 20px 20px;
}

.destinationToggle {
    padding: 20px 20px;
    margin: 20px 20px 20px 20px;
}