/* /* 
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * Dark Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  color: #1b1f23;
  margin:0;
  height:auto;
  display:block;
  width:100%;
  overflow-x:hidden;
}

/* Layout Structure */

.container_outer {
  width: 100%;
  margin: 0;
  display: block;
}

.container_fixed {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.site_header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site_header ul li {
  margin: 0;
  padding: 0;

}

.site_header a,
.site_header a:visited {
  color: #1b1f23;
  text-decoration: none;
  font-size: 1.2rem;

}

.site_header .burger {
  display: none;
}

.site_header_inner {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

}

.site_header .logo {
  padding-right: 40px;
  margin: 0;
}

.site_header .logo img {
  max-height: 60px;
}

.navigation_first,
.sign_up {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Expandable nav */
@media (max-width:1200px) {
  .site_header .burger {
    display: block;
    cursor: pointer;
  }
  .site_header_inner {
    display: flex;
    justify-content: space-between;
  }

  .navigation {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    background: #1b1f23;
    color: white;
    /* width: 400px; */
    padding-top: 20px;
    overflow: hidden;
    height: 0;
    width: 0;
    transition: all 400ms;
  }
  .nav_show {
    width:400px;
    height: calc(100% - 70px);
  }
  .site_header a,
  .site_header a:visited {
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
  }
  .navigation_first,
  .sign_up {
    display: block;
  }
  .site_header ul li {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}


/* Hero */

.rover_hero_container {
  width: 100%;
  margin: 0;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  overflow: hidden;
  min-height: 36rem;
}

.rover_hero_container .container_fixed {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 36rem;
}

.hero_callout {
  color: #66727c;
  max-width: 50%;
}

.hero_callout > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.hero_callout h1 {
  font-size: 3rem;
}

.hero_tagline {
  font-size: 2rem;
}



/* If screen 960px and smaller and greater than 761px (mobile) then apply the white background */
@media (max-width:960px) and (min-width:761px) {
    .hero_callout {
      background: white;
      padding: 1rem;

    }
}

.rover-cta {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* If screen 760px or smaller (mobile) then */
/* background image disappears & h1 goes away
container height becomes min-height
hero_callout goes to 100% max-width, hero_tagline becomes dark text and bold, button goes across screen */
@media (max-width:760px){
  .rover_hero_container {
    background-image: none;
  }
  .hero_callout h1 {
    display: none;
  }
  .rover_hero_container .container_fixed {
    min-height: auto;
  }
  .hero_callout {
    max-width: 100%;
    margin: 6rem 0 0 0;
  }
  .hero_tagline {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1b1f23;
  }
  .rover-cta {
    display: block;
  }
}

/* Button */

.btn {
  display: block;
  margin: 0;
  padding: 1.2rem;
  background: #14a96d;
  min-width: 12rem;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
}

.btn:hover:hover {
  background: #0d784d;
}

/* Middle */

.rover_middle_section {
  margin-top: 6rem;
}

.section_hdr {
  text-align: center;
}

.rover-mobile-hero-container {
  display: none;
}

@media (max-width:760px){
  .rover-moile-hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
  }
  .rover-mobile-hero-container img {
    max-width: 50%;
    }
  
}

/* 2 Column */

.rover_facts_2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
}

/* If screen size is 760 or less, then the two columns will become 1 */
@media (max-width: 760px){
  .rover_facts_2col {
    grid-template-columns: 1fr;
  }
}

/* .rover_facts_container */

.rover_facts_container {

}

.rover_facts_container ul li{
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.rover_facts_container ul li {
  display: flex;
  margin-bottom: 1rem;
}

.facts_text h2{
  margin-bottom: 0;
}

.facts_text p {
  margin-top: 0.5rem;
}

/* rover_cta_box_container */

.rover_cta_box {
  border: 1px solid #cfd7de;
  border-radius: 0.25rem;
  
}

.rover_cta_header {
  padding: 1rem 1.5rem;
  display: flex;
  background-color: #f4f5f6;
  gap: 1rem;
  text-align: center;
  justify-content: space-around;
}

.rover_cta_header img {
  max-height: 60px;
}

.rover_cta_box_content {
  padding: 2rem 2rem 1rem 2rem;
}

.rover_cta_box_content > *:first-child {
  margin-top: 0;
  padding: 0;
}

.rover_cta_box_content .rover-cta {
  display: block;
}

.rover_facts .fa-check {
  color:#14a96d
}

.rover_facts {
  list-style: none;
  margin: 2rem;
  padding: 0;
}

.rover_facts li {
  margin-bottom: 1rem;
}

/* Rover-123-container */

.rover_123_item_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* If screen size is less than 1040px and greater than 705px then grid changes to 2 columns */
@media (max-width:1040px) and (min-width: 705px){
  .rover_123_item_container {
    grid-template-columns: 1fr 1fr;
  }
}

/* If screen size is 704 and below, then grid changes to 1 column */
@media (max-width:704px) {
  .rover_123_item_container {
    grid-template-columns: 1fr;
  }
}

.rover_123_item {
  text-align: center;
  padding: 2rem;
}

.rover_123_item img{
  max-width: 100px;
  display: flex;
  margin: 0 auto;


}